@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
  z-index: 0 !important; /* Lower priority */
}

.navbar {
  z-index: 50 !important; /* Higher priority */
  position: relative; /* Ensure z-index applies */
}
/* *{
  border: 2px solid red;
} */

html {
  scroll-behavior: smooth;
 
}
/* *{
  margin: 0px;
  padding: 0px;
} */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Hide scrollbar for IE, Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
/* *{
  @apply transition-colors duration-200;
} */

